.SubcategoriesList{
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(3,33%);
}

.SubcategoryItem {
    height: 100px;
    display: flex;
    justify-content: center;
    margin: 2px;
    align-items: center;
    border: 1px solid #f8f2f2;
}

.SubcategoryItem:hover {
    border: 1px solid #4800ff;
    background: white;
}