.sortContainer {
    display: flex;
    justify-content: center;
    height: 30px;
    align-items: center;
    margin-top: 50px;
    border: 1px solid #D3D3D3;
    padding: 25px 10px;
    border-radius: 5px;
}

    .sortContainer select {
        margin: 0 5px;
    }

    .sortContainer input {
        height: 30px;
        flex: 1 1 auto;
        margin: 0 5px;
    }
